body {
  background-color: black;
  font-family: 'Source Code Pro', monospace, serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

#testoCompleto {
  width: 90vw;
  color: white;
  font-size: 3px;
  background-color: black;
  position: fixed;
  opacity: 0;
}

svg {
    display: inline-block;
    background-color: black;
    margin: 20 px;
    width: 400px;
    height: 400px;
}

path {
    fill: red;
    stroke: white;
    stroke-width: 1;
}
